
<h1>Hello !</h1>
  <p style="font-weight: 500; font-size: 2.2em">My name is <%= config.author %> .</p>
  <p>
    I am a University student who major in Software Engineering. Most of my 
    projects have been shown on the
    <a href="https://github.com/NateYip" target="_blank">GitHub</a>. You can
    also read my blogs at
    <a href="" target="_blank">Here</a>
     where I mostly post my articles.
  </p>
  <!--
    <p>
      You can also find me on
      <a href="" target="_blank">QQ</a> and
    </p>
  --> 
    
  <p style="font-weight: 500; font-size: 2.2em">Happy to meet you!</p>
  <p>
    I am also interested in photographing, admiring the 
    Starry sky and traveling around the world!
  </p>
    