
<%
var pageTitle = config.author + "'s Blog"
%>

<!DOCTYPE html>
<html lang="<%=config.language%>">
<head>
  <meta charset="UTF-8">
  <title><%=pageTitle%></title>
  <%- partial('partials/head') %>
</head>
<body>
<%- body %>

</body>
</html>
